.quiz-options {
    display: flex;
    flex-direction: column;
  }
  
  .quiz-option {
    background-color: #3c4d67;
    padding: 15px 30px;
    margin: 10px 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
  
  .quiz-option:hover {
    background-color: #304664;
  }
  
  .html {
    margin-right: 10px;
    background-color: #fff0e9;
    padding: 10px;
    border-radius: 10px;
    display: flex;
  }
  .html svg{
    width: 30px;
    height: 30px;
  }

  .css{
    margin-right: 10px;
    background-color: #e0fcf0;
    padding: 10px;
    border-radius: 10px;
    display: flex;
  }
  .css svg{
    width: 30px;
    height: 30px;
  }
  .javascript{
    margin-right: 10px;
    background-color: #e9f1fe;
    padding: 5px;
    border-radius: 10px;
    display: flex;
  }
  .javascript svg{
    width: 40px;
    height: 40px;
  }
  .accessibility{
    margin-right: 10px;
    background-color: #fce9ff;
    padding: 10px;
    border-radius: 10px;
    display: flex;
  }
  .accessibility svg{
    width: 30px;
    height: 30px;
  }